

    
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <!-- ... Your existing HTML structure ... -->

<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password');
    passwordInput.type = (passwordInput.type === 'password') ? 'text' : 'password';}

  document.addEventListener("DOMContentLoaded", function () {
    const dropdownToggle = document.getElementById("user-menu-button");
    const dropdownMenu = document.getElementById("user-dropdown");

    dropdownToggle.addEventListener("click", function () {
      dropdownMenu.classList.toggle("hidden");
      // Add logic to close other open dropdowns if needed
    });

    // Add logic to close the dropdown when clicking outside of it if needed
    document.addEventListener("click", function (event) {
      if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.classList.add("hidden");
      }
    });
  });
</script>

<html lang="en scroll-smooth">
  <style>
    html {
  scroll-behavior: smooth;
    }
   
    #user-dropdown {
      position: absolute;
      top: calc(100% + 5px); 
      right: 50px;
      z-index: 999; 
      
    }

   .inter{
     font-family: 'Inter', sans-serif;
   }
   .k2d-eb{
     font-family: 'K2D', sans-serif;
   }
   .poppins-eb{
     font-family: 'Poppins', sans-serif;
   }
   </style>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#128161;taHack</title>

    {% compress css %}
      <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d162b72bfb.js" crossorigin="anonymous"></script>
    
  </head>
  </head>
  <body class="overflow-x-hidden bg-tahackBg">
    <header class="bg-transparent body-font top-0 sticky z-50 w-screen">
      <nav class="bg-tahack">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2">
        <a href="http://127.0.0.1:8000/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl k2d-eb text-white">taHack</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
              <div class="px-4 py-3">
                
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ request.user }}</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a href="{% url 'users:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </li>
              </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
          <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border  rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
            <li>
              <a href="http://127.0.0.1:8000/#" class="inter block py-2 px-3 text-white rounded md:bg-transparent  md:p-0 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Home</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/#fields" class="inter block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white  dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Fields</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/#instructors" class="inter block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white  dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Instructors</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/#contact" class="inter block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent  md:p-0 dark:text-white  dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Contact</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>

      <!-- <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-3xl text-gray-100">TaHack</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a class="mr-5 hover:text-green-600" href="/maps">Map</a>
          <a class="mr-5 hover:text-green-600" href="/fields">Courses</a>
          <a class="mr-5 hover:text-green-600" href="/instructors">Instructors</a>
          <a class="mr-5 hover:text-green-600" href="/contact">Contact</a>
          <span>{{ request.user }}</span>
          <span><a href="{% url 'users:logout' %}">   Logout</a></span>
        </nav>
        
      </div> -->
    </header>


    <div class="flex flex-wrap shadow-2xl shadow-slate-800  min-h-screen w-full content-center justify-center py-10">
  
      <!-- Login component -->
      <div class="flex rounded-2xl shadow-2xl shadow-slate-800 my-8 mb-8">
        <!-- Login form -->
        <div class="flex flex-wrap content-center shadow  shadow-slate-800 justify-center rounded-2xl bg-white" style="width: 24rem; height: 32rem;">
          <div class="flex flex-col w-full justify-center py-8 mx-4">
            <!-- Heading -->
            <!-- <h1 class="text-xl font-semibold">Sign in to TaHack</h1> -->
            
            <!-- <div class="lg:w-1/4 md:w-1/2 w-full px-4">

              <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">

                <a class="text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>

                <a class="ml-3 text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>

                <a class="ml-3 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                  </svg>
                </a>
                
                <a class="ml-3 text-gray-500">
                  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                  </svg>
                </a>

              </span>

            </div> -->
            
            <form method="post" action="{% url 'users:loginView' %}">
              {% csrf_token %}
              <!-- dito start -->
              <div class="py-16">
                
                <div class="flex shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-xl">
                    
                    <div class="w-full ">
                        <h2 class="text-4xl font-semibold text-gray-700 text-center k2d-eb">taHack</h2>
                        <p class="text-xl text-gray-600 text-center poppins-eb m-2">Welcome back!</p>
              
                        <button class="flex flex-wrap justify-center w-full border border-gray-300 hover:border-gray-500 px-2 py-2 rounded-full mt-2">
                          <img class="w-5 mr-2" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA">
                          {%load socialaccount %}
                          <a href="{% provider_login_url 'google' %}?next=/" class="inter ml-2 justify-center">Sign in With Google </a>
                      </button>

                        
              
              
                        <div class="mt-4 flex items-center justify-between">
                            <span class="border-b w-1/5 lg:w-1/4"></span>
                            <a href="#" class="text-xs text-center text-gray-500 uppercase poppins-eb">or login with email</a>
                            <span class="border-b w-1/5 lg:w-1/4"></span>
                        </div>
              
              
                        <!-- done email username -->
                        <div class="mt-4">
                            <label for="id_username" class="block text-gray-700 text-sm font-bold mb-2 inter">Email Address</label>
                            <input  placeholder="Username" id="id_username" name="username" class="inter bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text" />
                        </div>
              
              <!-- done pword -->
                    <div class="mt-4 mb-4">
                  <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2 inter">Password</label>

                      <input type="password" id="id_password" name="password" placeholder="Password" class="inter bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
                      <div class="flex flex-col">
                        <div>
                         
                        </div>
                        

                          <div class="mt-1">
                              <input type="checkbox" onclick="togglePasswordVisibility()" class="cursor-pointer ">
                              <label for="showPassword" class="text-gray-500 text-xs cursor-pointer inter">Show Password</label>
                          </div>
                      </div>
                      

                      <script>
                        function togglePasswordVisibility() {
                            const passwordInput = document.getElementById('id_password');
                            passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
                        }
                      </script>

                                  
              
   
              </div>
              
              <div class="mb-6">
                <button class="btn bg-tahack w-full text-white rounded-lg px-4 py-2">Login</button>
              </div>
                         
              
  
              
                        <div class="text-center flex  justify-center ">
                          <p class="text-xs">Don't have an account?</p>
                          <a href="{% url 'users:signup' %}" class="ml-2 inter text-xs" style="cursor: pointer; text-decoration: underline; color: blue;">Sign Up</a>
                        </div>
              

                      
              
              
                    </div>
                </div>
              </div>

            </form>
  
            {% for message in messages %}
                  <p id="messages" class="text-tahack font-bold text-center mt-2">{{message}}</p>
            {% endfor %}
  
            <!-- Footer -->
          </div>
        </div>
    
      </div>
    
  
    </div>

    


  </body>
</html>




