{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <!-- ... Your existing HTML structure ... -->



<html lang="en scroll-smooth">
  <style>
    html {
  scroll-behavior: smooth;
    }
   
    #user-dropdown {
      position: absolute;
      top: calc(100% + 5px); 
      right: 50px;
      z-index: 999; 
      
    }

   .inter{
     font-family: 'Inter', sans-serif;
   }
   .k2d-eb{
     font-family: 'K2D', sans-serif;
   }
   .poppins-eb{
     font-family: 'Poppins', sans-serif;
   }
   </style>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#128161;taHack</title>

    {% compress css %}
      <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d162b72bfb.js" crossorigin="anonymous"></script>
    
  </head>
  </head>
  <body class="overflow-x-hidden bg-tahackBg">


    <header class="bg-transparent body-font top-0 sticky z-50 w-screen">
      <nav class="bg-tahack">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2">
        <a href="http://127.0.0.1:8000/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl k2d-eb text-white">taHack</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
              <div class="px-4 py-3">
                <!-- <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span> -->
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ request.user }}</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                
                <li>
                  <a href="{% url 'users:logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </li>
              </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
          <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border  rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
            <li>
              <a href="http://127.0.0.1:8000/#" class="inter block py-2 px-3 text-white rounded md:bg-transparent  md:p-0 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Home</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/#fields" class="inter block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white  dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Fields</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/#instructors" class="inter block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white  dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Instructors</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/#contact" class="inter block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent  md:p-0 dark:text-white  dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 hover:underline transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ration-300">Contact</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>

      
    </header>
<div class="pt-16">
  <div class=" bg-white shadow-md shadow-black rounded-2xl  overflow-hidden  w-full mx-auto max-w-sm lg:max-w-xl">
      
    <div class="w-full flex flex-col justify-center p-5">
    <h2 class="text-2xl font-bold  k2d-eb mx-auto">Create Account</h2>
    <p class="text-gray-600 mb-6 poppins-eb text-center">Enter your personal details and start your journey with us.</p>

    <!-- Form -->
    <form class="flex flex-wrap -mx-4 items-center justify-center" method="POST" class="mt-4">
      {% csrf_token %}

        <!-- First Name -->
        <div class="mb-4 w-full md:w-1/2 px-4">
            <label for="{{ form.first_name.id_for_label }}" class="block text-gray-600 text-sm font-semibold mb-2 inter">First Name</label>
            <input type="text" id="{{ form.first_name.id }}" name="{{ form.first_name.name }}" placeholder="Firstname" class="inter w-full border rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
        </div>

        <!-- Last Name -->
        <div class="mb-4 w-full md:w-1/2 px-4">
            <label for="{{ form.last_name.id_for_label }}" class="block text-gray-600 text-sm font-semibold mb-2 inter">Last Name</label>
            <input type="text" id="{{ form.last_name.id }}" name="{{ form.last_name.name }}" placeholder="Lastname"class="inter w-full border rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
        </div>
        
        
        <!-- Username -->
        <div class="mb-4 w-full md:w-1/2 px-4">
            <label for="{{ form.username.id_for_label }}" class="block text-gray-600 text-sm font-semibold mb-2 inter">Username</label>
            <input type="text" id="{{ form.username.id }}" name="{{ form.username.name }}" placeholder="Username" class="inter w-full border rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
        </div>


        <!-- Email -->
        <div class="mb-4 w-full md:w-1/2 px-4">
            <label for="{{ form.email.id_for_label }}" class="block text-gray-600 text-sm font-semibold mb-2 inter ">Email</label>
            <input type="email" id="{{ form.email.id }}" name="{{ form.email.name }}" placeholder="Email" class=" inter w-full border rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
        </div>

        <!-- Password -->
        <div class="mb-4 w-full md:w-1/2 px-4">
            <label for="{{ form.password1.id_for_label }}" class="block text-gray-600 text-sm font-semibold mb-2 inter ">Password</label>
            <input type="password" id="{{ form.password1.id }}" name="{{ form.password1.name }}" placeholder="Password" class="inter w-full border rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
        </div>

        <!-- Confirm Password -->
        <div class="mb-4 w-full md:w-1/2 px-4">
            <label for="{{ form.password2.id_for_label }}" class="block text-gray-600 text-sm font-semibold mb-2 inter ">Confirm Password</label>
            <input type="password" id="{{ form.password2.id }}" name="{{ form.password2.name }}" placeholder="Confirm Password" class="inter w-full border rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
        </div>

        <!-- Show Password Checkbox -->
        <div class="mb-2 w-full px-4 flex items-center">
          <input type="checkbox" id="show_password" class="mr-2" onchange="togglePasswordVisibility()">
          <label for="show_password" class="text-gray-600 text-sm poppins-eb ml-1">Show Password</label>
        </div>
      
        <script>
          function togglePasswordVisibility() {
              const passwordInput = document.getElementById('id_password');
              passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
          }
        </script>
      

        <!-- Create User Button -->
        <button type="submit" class="bg-tahack  text-white px-4 py-2 rounded-full hover:bg-green-700 focus:outline-none focus:shadow-outline-blue mb-2 w-3/5">Create Account</button>

        <!-- Sign in With Google Button -->
        <div class="mb-2">
              
          <button class="w-full border border-gray-300 hover:border-gray-500 px-4 py-2 rounded-full flex items-center justify-center">
              <img class="w-5 mr-2" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" alt="Google Icon">
              {%load socialaccount %}
              <a href="{% provider_login_url 'google' %}?next=/" class="poppins-eb ml-2">Sign in With Google </a>
          </button>
      </div>
    </form>

    {{form.errors}}

    <!-- Already have an account? Login -->
    <div class="flex flex-row justify-center text-gray-600 text-sm text-center">
      <p class="inter">Already have an account?</p>
      <a href="{% url 'users:loginView' %}" class="text-green-700  ml-2">Login here!  </a>
    </div>
  </div>
</div>



  </body>
</html>