<!-- field_created.html -->
{% extends "a_base.html" %}

{% block content %}

<h1>{{ course.title }} - Lessons</h1>
    
{% if lessons %}
    <ul>
        {% for lesson in lessons %}
            <li>
                <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{{ lesson.title }}</h2>
                <p>{{ lesson.description }}</p>
                <a href="{{ lesson.link }}" target="_blank">{{ lesson.link }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No lessons available for this course.</p>
{% endif %}

{% endblock content %}
