{% extends "a_base.html" %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{{ field.FieldTitle }} Courses</h1>
        <div class="h-1 w-20 bg-green-800 rounded"></div>

        <div class="field-list">
            {% for course in courses %}
                <div class="field-card">
                    <h2>{{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <p>Author: {{ course.Author }}</p>
                    <p>Duration: {{ course.Duration }}</p>
                    <p>Rating: {{ course.Rating }}</p>
                    <p>Price: ${{ course.Price }}</p>
                    <img src="{{ field.image.url }}" alt="{{ field.FieldTitle }} Image">
                    <!-- Add other course details as needed -->
                    <button class="bg-teal-700">
                        <a href="{% url 'paths:show_feedback' field.id %}">Show Reviews</a>
                      </button>           
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}